* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    background-color: grey;
    color: white;
}

.display {
    width: 100%;
    height: 55px;
    padding: 10px;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: right;
}

.button_container {
    width: 100%;
    height: 395px;
    border: 5px solid black;
}